<as-loading *ngIf="loading"></as-loading>
<h2>My Orders</h2>
<div *ngIf="!loading">
    <div class="container">
        <div class="row">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <td>
                            Order Id
                        </td>
                        <td>
                            Order Status
                        </td>
                        <td>
                            Order Cost
                        </td>
                        <td>
                            Order Payment
                        </td>
                        <td>
                            Order Items
                        </td>
                    </tr>
                </thead>
                <tbody *ngFor="let item of order.results; let i = index" >
                    <tr class="order_item">
                        <td>
                            {{item.id}}
                        </td>
                        <td>
                            {{item.status}}
                        </td>
                        <td>
                            {{item.cost}}
                        </td>
                        <td *ngIf="item.payment !== null">
                            {{item.payment.mpesa_code}}

                        </td>
                        <td *ngIf="item.payment == null">
                                Payment Pending

                        </td>
                        <td>
                            <a [routerLink]="['/account/order_items/' + item.id ]">
                                View Order Items
                            </a>
                        </td>

                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>
