<h2> Products Management </h2>
<div>
    <div class="col-sm-3 col-md-2 affix-sidebar">
		<div class="sidebar-nav">
          <div class="navbar navbar-default" role="navigation">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              </button>
              <span class="visible-xs navbar-brand">Sidebar menu</span>
            </div>
            <div class="navbar-collapse collapse sidebar-navbar-collapse">
              <ul class="nav navbar-nav" id="sidenav">

                <li style="width:100%" class="active">
                  <a data-toggle="collapse" data-target="#products" data-parent="#sidenav">
                     Products <span class="caret pull-right"></span>
                  </a>
                  <div class="collapse" id="products" style="height: 0px;">
                    <ul class="nav nav-list">
                      <li><a  [routerLink]="['/admin/addproduct/']" >Add Products </a></li>
                      <li><a  [routerLink]="['/admin/listproduct/']">Edit Products</a></li>
                    </ul>
                  </div>
                </li>
                <li style="width:100%">
                  <a data-toggle="collapse" data-target="#product_category" data-parent="#sidenav">
                     Product Categories <span class="caret pull-right"></span>
                  </a>
                  <div class="collapse" id="product_category" style="height: 0px;">
                    <ul class="nav nav-list">
                      <li><a [routerLink]="['/admin/addcategory']">Add Category </a></li>
                      <li><a [routerLink]="['/admin/listcategory']">Edit Categories</a></li>
                    </ul>
                  </div>
                </li>
                <li style="width:100%">
                  <a data-toggle="collapse" data-target="#orders" data-parent="#sidenav">
                     Orders <span class="caret pull-right"></span>
                  </a>
                  <div class="collapse" id="orders" style="height: 0px;">
                    <ul class="nav nav-list">
                      <li><a [routerLink]="['/admin/listorders/']" >View Orders</a></li>
                    </ul>
                  </div>
                </li>
                <li style="width:100%">
                  <a data-toggle="collapse" data-target="#users" data-parent="#sidenav">
                     Users <span class="caret pull-right"></span>
                  </a>
                  <div class="collapse" id="users" style="height: 0px;">
                    <ul class="nav nav-list">
                      <li><a [routerLink]="['/admin/listusers/']">View Users</a></li>
                    </ul>
                  </div>
                </li>
              </ul>
              </div><!--/.nav-collapse -->
            </div>
          </div>
	</div>
    <div class="col-sm-8 col-md-9 affix-content">
        <as-loading *ngIf="loading"></as-loading>
    </div>
    <div class="col-sm-8 col-md-9 affix-content" *ngIf="!loading">
          <div class="row">
            <div class="row search_block">
                <div class="input-group col-sm-12 col-md-6 pull-right">
                    <input type="text" class="form-control" [(ngModel)]="searchterm" (keypress)="searchKeyPressed($event)" placeholder="Search for...">
                    <span class="input-group-btn">
                        <button class="btn btn-default" (click)="search(searchterm)" type="button"> Search </button>
                    </span>
                </div>
            </div>
            <table class="table table-striped">
                 <tr>
                    <th>Product Id</th>
                    <th>Product Name</th>
                    <th>Product Description</th>
                    <th> Product Cost</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>


                    <tr  *ngFor="let item of productsResponse.results; let i = index" >

                        <td>
                            {{item.id}}
                        </td>
                        <td>
                            {{item.title}}
                        </td>
                        <td>
                            {{item.description}}
                        </td>
                        <td>
                           {{item.price}}
                        </td>
                        <td>
                            <a data-placement="top" data-toggle="tooltip" title="Edit" [routerLink]="['/admin/editproduct/' + item.id ]">
                                <button class="btn btn-primary" data-title="Edit" data-toggle="modal" data-target="#edit" >
                                    <span class="glyphicon glyphicon-pencil"></span>
                                </button>
                            </a>
                        </td>
                        <td>
                            <a data-placement="top" data-toggle="tooltip" title="Delete" (click)="deleteProduct(item.id)">
                                <button class="btn btn-danger" data-title="Delete" data-toggle="modal" data-target="#delete" >
                                    <span class="glyphicon glyphicon-trash"></span>
                                </button>
                            </a>
                        </td>
                    </tr>

            </table>

        </div>
    </div>

</div>