<h2>Admin Dashboard </h2>
<div>
    <div class="col-sm-3 col-md-2 affix-sidebar">
		<div class="sidebar-nav">
          <div class="navbar navbar-default" role="navigation">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              </button>
              <span class="visible-xs navbar-brand">Sidebar menu</span>
            </div>
            <div class="navbar-collapse collapse sidebar-navbar-collapse">
              <ul class="nav navbar-nav" id="sidenav">

                <li style="width:100%">
                  <a data-toggle="collapse" data-target="#products" data-parent="#sidenav">
                     Products <span class="caret pull-right"></span>
                  </a>
                  <div class="collapse" id="products" style="height: 0px;">
                    <ul class="nav nav-list">
                      <li><a  [routerLink]="['/admin/addproduct/']" >Add Products </a></li>
                      <li><a  [routerLink]="['/admin/listproduct']">Edit Products</a></li>
                    </ul>
                  </div>
                </li>
                <li style="width:100%">
                  <a data-toggle="collapse" data-target="#product_category" data-parent="#sidenav">
                     Product Categories <span class="caret pull-right"></span>
                  </a>
                  <div class="collapse" id="product_category" style="height: 0px;">
                    <ul class="nav nav-list">
                      <li><a [routerLink]="['/admin/addcategory']">Add Category </a></li>
                      <li><a [routerLink]="['/admin/listcategory']">Edit Categories</a></li>
                    </ul>
                  </div>
                </li>
                <li style="width:100%">
                  <a data-toggle="collapse" data-target="#orders" data-parent="#sidenav">
                     Orders <span class="caret pull-right"></span>
                  </a>
                  <div class="collapse" id="orders" style="height: 0px;">
                    <ul class="nav nav-list">
                      <li><a [routerLink]="['/admin/listorders/']" >View Orders</a></li>
                     </ul>
                  </div>
                </li>
                <li style="width:100%">
                  <a data-toggle="collapse" data-target="#users" data-parent="#sidenav">
                     Users <span class="caret pull-right"></span>
                  </a>
                  <div class="collapse" id="users" style="height: 0px;">
                    <ul class="nav nav-list">
                      <li><a [routerLink]="['/admin/listusers/']">View Users</a></li>
                    </ul>
                  </div>
                </li>
              </ul>
              </div><!--/.nav-collapse -->
            </div>
          </div>
	</div>

    <div class="col-sm-9 col-md-10 affix-content">
        <as-loading *ngIf="loading"></as-loading>
    </div>
    <div class="col-sm-9 col-md-10 affix-content">
        <div class="row">

                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-folder-open fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div>Products</div>
                                </div>
                            </div>
                        </div>
                        <a  [routerLink]="['/admin/listproduct/']">
                            <div class="panel-footer">
                                <span class="pull-left">View Details</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-folder-open fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div>Categories</div>
                                </div>
                            </div>
                        </div>
                        <a [routerLink]="['/admin/listcategory']">
                            <div class="panel-footer">
                                <span class="pull-left">View Details</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-cart-arrow-down fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div>Orders</div>
                                </div>
                            </div>
                        </div>
                        <a [routerLink]="['/admin/listorders/']" >
                            <div class="panel-footer">
                                <span class="pull-left">View Details</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-users fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div>Users</div>
                                </div>
                            </div>
                        </div>
                        <a [routerLink]="['/admin/listusers/']">
                            <div class="panel-footer">
                                <span class="pull-left">View Details</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>


        </div>
    </div>

</div>