<h2> Edit Category </h2>
<div>
    <div class="col-sm-3 col-md-2 affix-sidebar">
        <div class="sidebar-nav">
            <div class="navbar navbar-default" role="navigation">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse"
                            data-target=".sidebar-navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <span class="visible-xs navbar-brand">Sidebar menu</span>
                </div>
                <div class="navbar-collapse collapse sidebar-navbar-collapse">
                    <ul class="nav navbar-nav" id="sidenav">

                        <li style="width:100%">
                            <a data-toggle="collapse" data-target="#products" data-parent="#sidenav">
                                Products <span class="caret pull-right"></span>
                            </a>
                            <div class="collapse" id="products" style="height: 0px;">
                                <ul class="nav nav-list">
                                    <li><a [routerLink]="['/admin/addproduct/']">Add Products </a></li>
                                    <li><a [routerLink]="['/admin/listproduct/']">Edit Products</a></li>
                                </ul>
                            </div>
                        </li>
                        <li style="width:100%" class="active">
                            <a data-toggle="collapse" data-target="#product_category" data-parent="#sidenav">
                                Product Categories <span class="caret pull-right"></span>
                            </a>
                            <div class="collapse" id="product_category" style="height: 0px;">
                                <ul class="nav nav-list">
                                    <li><a [routerLink]="['/admin/addcategory']">Add Category </a></li>
                                    <li><a [routerLink]="['/admin/listcategory']">Edit Categories</a></li>
                                </ul>
                            </div>
                        </li>
                        <li style="width:100%">
                            <a data-toggle="collapse" data-target="#orders" data-parent="#sidenav">
                                Orders <span class="caret pull-right"></span>
                            </a>
                            <div class="collapse" id="orders" style="height: 0px;">
                                <ul class="nav nav-list">
                                    <li><a [routerLink]="['/admin/listorders/']">View Orders</a></li>
                                </ul>
                            </div>
                        </li>
                        <li style="width:100%">
                            <a data-toggle="collapse" data-target="#payments" data-parent="#sidenav">
                                Payments <span class="caret pull-right"></span>
                            </a>
                            <div class="collapse" id="payments" style="height: 0px;">
                                <ul class="nav nav-list">
                                    <li><a [routerLink]="['/admin/listpayments/']">View Payments</a></li>
                                </ul>
                            </div>
                        </li>
                        <li style="width:100%">
                            <a data-toggle="collapse" data-target="#users" data-parent="#sidenav">
                                Users <span class="caret pull-right"></span>
                            </a>
                            <div class="collapse" id="users" style="height: 0px;">
                                <ul class="nav nav-list">
                                    <li><a [routerLink]="['/admin/listusers/']">View Users</a></li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div><!--/.nav-collapse -->
            </div>
        </div>
    </div>

    <div class="col-sm-6 col-md-7 affix-content">
        <as-loading *ngIf="loading"></as-loading>
    </div>
    <div class="col-sm-6 col-md-7 affix-content" *ngIf="!loading">
        <form [formGroup]="EditCategory">
            <div class="form-group">
                <h3>Edit Category </h3>
            </div>
            <div class="form-group" >
                <input
                        formControlName="title"
                        name="title"
                        placeholder="Title Name"
                        [ngModel]="category.title"
                        class="form-control"
                        type="text"
                        required
                />
                <p *ngIf="errors && errors.title" class="alert alert-danger">{{ errors.title }}</p>
            </div>

            <div class="form-group">
                <input
                        formControlName="parent_id"
                        name="parent_id"
                        placeholder="category"
                        [ngModel]="category.id"
                        class="form-control"
                        type="text"
                        type="hidden"
                />

                <p *ngIf="errors && errors.parent" class="alert alert-danger">{{ errors.parent }}</p>

            </div>

            <button (click)="editCategory()" class="btn btn-success btn-block btn-checkout"
                    [disabled]="!EditCategory.valid"> Edit Category
            </button>
        </form>

    </div>
    <pre>{{category | json}}</pre>


</div>