.detail-main{
    width: 100%;
    background-color: #ffffff;
}
.detail-wrap{
    min-height: inherit;
    padding-bottom: 20px;
    border-left: 1px solid #ffffff;
}
.product_name {
    font-size: 18px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px 20px 0;
    margin-bottom: 0;
}
.product_description {
    font-size: 16px;
    font-weight: 300;
    padding-left: 20px;
    padding-top: 5px;
}
.product_price {
    font-size: 16px;
    font-weight: 300;
    padding-left: 20px;
    padding-top: 5px;
}
.product_select {
    padding-top: 5px;
    padding-left: 20px;
}
.product_buttons {
    padding-left: 20px;
}
.thumbnail {
    display: block;
    padding: 4px;
    margin-bottom: 20px;
    line-height: 1.428571429;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    -webkit-transition: border .2s ease-in-out;
    transition: border .2s ease-in-out;
}
.thumbnail .caption{
    padding: 9px;
    color: #555;
}
select {
    padding: 8px;
    font-weight: 300;
    background: #f5f5f5;
    text-transform: capitalize;
}
img.caption_img {
    width: 120px;
    height: 120px;
    object-fit: cover;
}
*[contenteditable=true] {
    outline: none;
    border: none;
}