<as-navbar [brand]="appBrand" [isAuthenticated]="isAuthenticated" [isAdmin]="isAdmin" [isSuperUser]="isSuperUser"  [userDisplayName]="userDisplayName"
[cartTotal]="cart.total_quantity"></as-navbar>
<div class="container-fluid" style="margin-top: 100px;">
	<toaster-container [toasterconfig]="toasterconfig"></toaster-container>
	<router-outlet></router-outlet>
</div>
