.panel-title {
	font-weight: bold;
	color: color(primary);
}
body {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}
h2,h3,h4 {
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    margin: 0px;
    margin-bottom:15px;
    margin-bottom:15px;
}
.panel-heading {
    text-align: center;
}